@import url("https://fonts.googleapis.com/css2? familia = Traje: peso @ 400; 500; 600; 700; 800 yfamily= Poppins:ital,wght@0,100;1,400 & display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}

/* -------------------------------HEADER------------------------------------------ */
header {
  display: flex;
  /* position: fixed; */
  background: #2b2a2b;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 12px 40px;
  gap: 3px;
}

h2 {
  font-weight: 400;
  font-size: 23.46px;
  line-height: 35.19px;
  opacity: 86%;
}

.logo {
  display: flex;
  gap: 7.33px;
}

.icon_coffee {
  width: 20.29px;
  height: 24.95px;
  margin-top: 2px;
  position: relative;
  background-image: url(../assets/icon/ps_coffee-hot.png);
}

.links {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  line-height: 16px;
  gap: 16px;
  transition: all 0.3s ease 0s;
}

.links a:hover {
  color: rgb(173, 180, 180);
}

.tel {
  display: flex;
  margin: 4px 0 0 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  gap: 8px;
}

.icon_tel,
.icon_lock {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .icon_tel {
  width: 24px;
  height: 24px;
} */

.icon_tel {
  width: 18px;
  height: 18px;
  margin: 3px 0 0 3px;
  background-image: url(../assets/icon/Phone.png);
}

.button {
  padding: 12px 24px;
  background: #515051;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  gap: 8px; /*este gap no funciona*/
}

/* .icon_lock {
  width: 24px;
  height: 24px;

  border: 1px solid red;
} */

.icon_lock {
  width: 17.66px;
  height: 20px;
  background-image: url("../assets/icon/Default.png");
}

.button:hover {
  background-color: rgb(97, 99, 99);
}

/*----------------------CARD------------------------------  */
